<section class="grid-template">  
    <div class='row'>
      <div class="col_1-2">
        Column 1 of 2
      </div>
      <div class="col_1-2">
        Column 1 of 2
      </div>
    </div>
    <div class='row'>
      <div class="col_1-3">
        Column 1 of 3
      </div>
      <div class="col_1-3">
        Column 1 of 3
      </div>
      <div class="col_1-3">
        Column 1 of 3
      </div>
    </div>
    <div class='row'>
      <div class="col_1-3">
        Column 1 of 3
      </div>
      <div class="col_2-3">
        Column 2 of 3
      </div>
    </div>
    <div class='row'>
      <div class="col_1-4">
        Column 1 of 4
      </div>
      <div class="col_1-4">
        Column 1 of 4
      </div>
      <div class="col_1-4">
        Column 1 of 4
      </div>
      <div class="col_1-4">
        Column 1 of 4
      </div>
    </div>
    <div class='row'>
      <div class="col_1-4">
        Column 1 of 4
      </div>
      <div class="col_1-4">
        Column 1 of 4
      </div>
      <div class="col_2-4">
        Column 2 of 4
      </div>
    </div>
    <div class='row'>
      <div class="col_1-4">
        Column 1 of 4
      </div>
      <div class="col_3-4">
        Column 3 of 4
      </div>
    </div>
</section>